@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  min-width: 480px;
}
* {
  scroll-behavior: smooth;
  transition-duration: 500ms;
}
/*Scrolling*/
#earlyHistory, #research, #publications, #conferences{
  scroll-margin-top: 100px;
  }
::selection{
  background: var(--color-primary);
  color: white;
}
* {
  font-family: "Open Sans", sans-serif;
}
:root {
  --color-primary: #0558ae;
}
h1 {
  font-weight: 600;
  color: var(--color-primary);
}
h5 {
  color: var(--color-primary);
}
h6{
  font-weight: 600;
}
P {
  line-height: 1.5;
}
.line {
  width: 100%;
  height: 1.5px;
  background-color: var(--color-primary);
  margin-top: 40px;
}
header{
  padding: 12rem 3rem;
}
section{
  padding: 12rem 3rem;
}
.myContainer {
  margin: 0px 150px 0px 150px;
}
.light_background {
  background-color: #f8f8f8;
}
/*fade in animation*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*---------------nav---------------------*/
.navbar {
  padding: 20px 150px 20px 150px;
  background:rgba(255, 255, 255, 0.841);
  border-bottom: var(--color-primary) 1.5px solid;
}
/*Hover effect https://codepen.io/ashhh97/pen/YzajNZj*/
.nav-link {
  font-weight: 500;
  color: black;
  font-size: 20px;
  position: relative;
  margin-right: 20px;
}
.nav-link::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-primary);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-link:hover{
  color:#0558ae;
}

/*------------home(research goal)----------------*/
.home {
  margin: 0px 150px 0px 150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-outside {
  color: var(--color-primary);
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  font-style: normal;
}
/* .link-outside */
.links_outside_2 {
  margin-top: 15px;
  /* display: flex;
  justify-content: space-between; */
}
.link-outside i{
  pointer-events: none;
}
.links_outside :hover {
  background-color: var(--color-primary);
  color: white;
}
.links_outside_2 :hover {
  background-color: var(--color-primary);
  color: white;
}
.link-icon {
  width: 18px;
  height: 18px;
  margin-top: -3px;
}
.photo{
  display: flex;
}
.profile-photo {
  margin-left: 20px;
  width: 45%;
  /* border-radius: 60px; */
  border-radius: 60px;
  border: 40px var(--color-primary)  solid;
}


/*-----------early history--------------*/
.history_content{
  margin-top: 40px;
}
.history_content p{
  margin-top: 20px;
  font-weight: 400;
}
/*-----------research-------------------*/
.number{
  margin-top: 30px;
}
.research_content {
  margin-top: 40px;
}
.re_content {
  margin-top: 20px;
}

/*-------------Publication-------------------------*/
.subtitle{
  margin-top: 40px;
}
.publications_content{
  margin-top: 40px;
}
.author{
  color: rgb(121, 121, 121);
}
/*Publication*/
.italic {
  font-style: italic;
}
/*--------------Conferences/Posters/Talks-----------*/
button {
  background: none;
}
.button-link {
  color: var(--color-primary);
  text-decoration: none;
  border: 1px #0558ae solid;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
}
.button-link:hover {
  background: var(--color-primary);
  color: white;
}
/*-------------footer-------------------------------*/
footer{
  background: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_text{
  color: #b7b7b7;
}
/*-------------Scrolling animation-----------------*/
.section-hidden{
opacity:0;
transform: translateY(8rem);
}
/*----------------Responsive------------------*/
@media (max-width: 1900px){
  .profile-photo{
    width: 60%;
    margin-left: 5px;
    border-radius: 30px;
    border: 20px var(--color-primary)  solid;
  }
}
@media (max-width: 1546px){
  .profile-photo{
    width: 60%;
  }
}
@media (max-width: 1440px){
  .profile-photo{
    width: 60%;
  }
}
@media (max-width: 1399px){
  .profile-photo{
    width: 50%;
  }
}
@media (max-width: 1200px){
  .navbar{
    padding: 10px;
  }
  section{
    padding: auto;
  }

  .myContainer,.home {
    margin: auto;
  }
}
@media (max-width: 665px){

  .navbar{
    padding: 10px;
  }
  section{
    padding: auto;
  }

  .myContainer,.home {
    margin: auto;
  }
}
/*subpage: Talks*/
.subPageBtn{
  margin: 0px 150px 100px 150px;
}